@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    color: #333;
}

.container {
    margin: 0 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-box {
    width: 100%;
    max-width: 450px;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    display: none;
}

.form-box.active {
    display: block;
}

.form-box h2 {
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
}

.form-box input,
.form-box select {
    width: 100%;
    padding: 12px;
    background: #f2f2f2;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

.form-box button {
    width: 100%;
    padding: 12px;
    background: #9b59b6;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0.5s;
}

.form-box button:hover {
    background: #8e44ad;
}

.form-box p {
    font-size: 14.5px;
    text-align: center;
    margin-bottom: 10px;
}

.form-box p a {
    color: #9b59b6;
    text-decoration: none;
}

.form-box p a:hover {
    text-decoration: underline;
}

.error-message {
    padding: 12px;
    background: #f8d7da;
    border-radius: 6px;
    font-size: 16px;
    color: #721c24;
    text-align: center;
    margin-bottom: 20px;
}

/* Style tambahan untuk Admin & User Page */
.box h1 {
    font-size: 50px;
}

.box span {
    color: #9b59b6;
}

.box p {
    font-size: 22px;
}

.box button {
    display: block;
    width: 300px;
    margin: 20px auto 0;
}